<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} <i> - ProgDays</i></title>
        {% else %}
        <title>A blog about my programming day!</title>
        {% endif %}
    </head>
    <body>
        <div>
            # Programming Days Blog # 
            <a href="{{ url_for('index') }}"> @Home Page</a>
            <a href="{{ url_for('login') }}"> @Student Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %} 
        {% if messages %} 
        <ul>
            {% for message in messages %} 
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} 
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>